.scrollDown {
    border: 2px solid #808080;
    border-radius: 20px;
    bottom: 2rem;
    display: none;
    height: 48px;
    left: 50%;
    position: absolute;
    transition: all .6s ease-in;
    width: 31px;
}


.scrollDown::before {
    animation: scrollDown 1.2s ease-in infinite;
    content: "";
    background-color: #808080;
    display: inline-block;
    height: 11px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    width: 4px;
}

@keyframes scrollDown {

    from {
        inset-block-start: 0;
        opacity: 1;
    }

    to {
        inset-block-start: 8px;
        opacity: .1;
    }
    
}

@media all and (min-width: 1240px) {
    
    .scrollDown {
        display: inline-block;
    }
}