@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');

:root {
    --accent-color: #53f6c6;
    --bg-color: #181818; 
    --bg-color-light: #282727; 
    --font-color: #9a9a9a;
    --neutral-color: rgba(255, 255, 255, .8);
    --neutral-dark-color: #979699;
    --default-transition: all .2s ease-in;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  
body {
    color: var(--font-color);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

// TYPOGRAPHY
p {
    margin-bottom: 1.5em;
}
  
a {
    color: #021d44;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.15;
    margin: 2.75rem 0 1rem;
}
  
h1 {
    font-size: 5.653em;
    margin-top: 0;
}
  
h2 {
    font-size: 3.998em;
}

h3 {
    font-size: 2.827em;
}
  
h4 {
    font-size: 1.999em;
}
  
h5 {
    font-size: 1.414rem;
}
  
small,
.text_small {
    font-size: 0.707em;
}
  
strong {
    font-weight: 700;
    color: #466587;
}

.u-link {
  color: #53f6c7;
  text-decoration: none;
}

.u-link:hover {
  text-decoration: underline;
}

.u-input,
.u-textarea {
  background-color: transparent;
  border: 2px solid var(--neutral-color);
  color: var(--neutral-color);
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  transition: all 0.2s ease-in;
}

.u-input:hover,
.u-input:active,
.u-input:focus,
.u-textarea:hover,
.u-textarea:active,
.u-textarea:focus {
  background-color: transparent !important;
  border-color: #53f6c7; 
  outline: none;
  transition: border-color 0.2s ease-in;
}

// Override user-agent styles
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  border-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0 30px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--font-color) !important;
}


// BUTTONS
.btn {
  background-color: transparent;
  border: 2px solid #333;
  cursor: pointer;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.6rem;
  min-width: 80px;
  padding: 1.5rem 2.5rem;
}

.btn:focus {
  outline: none;
}

.btn--back {
  align-self: flex-start;
}

.btn--cta {
  border-color: #53f6c7;
  color: #53f6c7;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 5rem auto 0 auto;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in;
}

.btn--cta:hover {
  background-color: #53f6c7;
  color: #1d1b24;
  text-decoration: none;
}

// SECTIONS
.section {
    background-color: var(--bg-color);
    display: flex;
    min-height: 100vh;
}
  
.section:not(.section--hero) {
    padding-block: 6rem;
}
  
.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 3rem 0;
    width: 100%;
}
  
.subsection { 
    margin: 5rem 0;
}
  
.section-title { 
    font-family: "Share Tech Mono", monospace;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 4.8rem 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &::before {
      color: var(--accent-color);
      content: '>';
      margin-inline-end: 2rem;
    }
}

.divider {
  visibility: hidden;
  padding: 0 1.5rem;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .greetings {
    font-size: 3.2rem;
  }

  .social-item {
    margin: 0 1.5rem 0 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 640px) {
  .greetings {
    font-size: 4rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .section:not(.section--hero) {
      padding-block: 16rem;
  }

  .section-title {
    font-size: 6rem;
    margin-bottom: 10rem;
  }

  .divider {
    visibility: visible;
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .menu {
    right: ~"calc((100% - 1280px + 10px) / 2)";
  }
}
  