---
import TubeStops from "./TubeStops.astro";

const items = [
	{ 
		role:  'Software Engineer',
		place: 'Thomson Reuters - Imagen from Reuters',
		dates: 'Apr. 2022 - present'
	},
	{ 
		role:  'Frontend Developer',
		place: 'Wellcome Sanger Institute - Human Cell Atlas',
		dates: 'Mar. 2021 - Mar. 2022'
	},
	{ 
		role:  'Frontend Developer',
		place: 'Imagen, Ltd.',
		dates: 'Mar. 2018 - Feb. 2021'
	},
	{ 
		role:  'Junior Frontend Developer',
		place: 'Imagen, Ltd.',
		dates: 'Jun. 2016 - Mar. 2018'
	},
	{ 
		role:  'Junior Developer',
		place: 'Digital Works',
		dates: 'Jan. 2016 - Apr. 2016'
	},
  { 
		role:  'Web designer',
		place: 'Freelance',
		dates: '2010 - 2016'
	}
]
---

<section id="about" class="section section--about">
    <div class="wrapper wrapper--about">
        <h1 class="section-title">About</h1>
        <div class="about-contents">
            <p>
              I'm a web designer and developer from Portugal, currently living in Cambridge, UK with an academic background in Marine Biology and Project Management who ended up messing with bits and bytes.
            </p>
            <p>
              At present, I'm working for Thomson Reuters.
            </p>
            <p>
              If you are planning to build a Website or Web App, give me a shout.
              I'm ready to help!
            </p>
            <h2 class="experience__title">Experience</h2>
            <TubeStops items={ items } />
        </div>
    </div>
</section>

<style lang="less">

  .section--about {
    padding-block-end: 0;
  }

  .experience__title {
    align-items: center;
    display: flex;
    font-size: 2.6rem;
    margin-block: 6rem 3rem;

    &::before {
      color: var(--accent-color);
      content: '>';
      font-size: 3rem;
      margin-inline-end: 1.5rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .wrapper--about {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left;
    }

    .about-subTitle {
      font-size: 2.827em;
    }

    .about-contents {

      width: 60%;

      p {
        font-size: 2.2rem;
        line-height: calc(2.2rem * 1.5);

        &:last-of-type {
          margin-block-end: 8rem;
        }
      }
    }

    .experience__title {
      font-size: 2.7rem;
      margin-block-end: 4.5rem;
      text-transform: uppercase;

      &::before {
        font-size: 3rem;
      }
    }
  
  }
</style>