<section id="contacts" class="section section--contacts">
    <div class="wrapper">
        <h1 class="section-title section-title--contacts">&lt; Get in touch &#47;&gt;</h1>

        <form class="contact-form" action="https://formspree.io/xdodjyea" method="POST">
            <div class="input-group">
                <input type="text" name="name" class="u-input" placeholder="name" />
                <input type="email" name="email" class="u-input" placeholder="email" />
                <input type="text" name="phone" class="u-input" placeholder="phone number" />
            </div>
            <div class="input-group">
                <textarea
                    name="message"
                    id="message"
                    class="u-textarea"
                    cols="30"
                    rows="10"
                    placeholder="message"
                ></textarea>
            </div>
            <input type="hidden" name="_next" value="https://ptmartins.github.io/thanks.html" />
            <button type="submit" class="btn btn--cta btn--submit" value="Submit">Submit</button>
        </form>
    </div>
</section>

<style lang="less">

    .section-title--contacts {
        color: var(--accent-color);
        text-align: center;
    }

    .contact-form {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }

    .contacts-text {
        margin-bottom: 6.2rem;
        text-align: center;
    }

    .contact-form .input-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 2.5rem;
    }

    .contact-form .u-input {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 0 0 2rem 0;
    }

    .contact-form .u-input:last-child {
        margin-right: 0;
    }

    .contact-form .u-textarea {
        width: 100%;
    }
</style>