---
 import { Image } from 'astro:assets';
 import logo from '../images/pedro_logo.svg';
---

<header id="header" class="header">
    <div class="wrapper wrapper--header">
        <div class="header-logo">
            <a href="#" id="site-logo" class="logo">
                <Image src={ logo } alt="Logo" width="120" height="38"/>
            </a>
        </div>
    </div>
</header>

<style lang="less">

    .header {
        background-color: var(--bg-color);
        display: flex;
        height: 80px;
        width: 100%;
        z-index: 2;
    }

    .wrapper--header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        align-items: center;
        display: flex;
    }

    .header-logo .logo {
        align-items: center;
        display: flex;

        flex-grow: 0;
        height: 36px;
        margin-right: auto;
    }

    .logo__image {
        align-self: center;
    }
    
</style>