---
import { Icon } from 'astro-icon/components';
import ScrollDown from '../components/ScrollDown/ScrollDown.jsx';
---

<section id="hero" class="section section--hero">
    <div class="wrapper wrapper--hero">
        <h1 class="greetings">
            <p class="greet">
                <span class="tag">&lt;b&gt;</span>Hello<span class="tag">&lt;/b&gt;</span>
            </p>
            <p>
                I'm Pedro Martins , I'm a front-end web developer based in Cambridge, UK and I craft amazing experiences for the web.
            </p>
        </h1>
        <div class="hero__social">
            <a href="https://www.facebook.com/pedro.martins.3114935" class="social__link" target="_blank">
                <Icon name="fa6-brands:facebook-f" />
            </a>
            <a href="https://twitter.com/snitramordep" class="social__link" target="_blank">
                <Icon name="fa6-brands:twitter" />
            </a>
            <a href="https://github.com/ptmartins" class="social__link" target="_blank">
                <Icon name="fa6-brands:github" />
            </a>
            <a href="https://codepen.io/snitramordep" class="social__link" target="_blank">
                <Icon name="fa6-brands:codepen" />
            </a>
            <a href="https://www.instagram.com/ptmartins/" class="social__link" target="_blank">
                <Icon name="fa6-brands:instagram" />
            </a>
            <a href="https://www.linkedin.com/in/pedro-martins-ba5b9618" class="social__link" target="_blank">
                <Icon name="fa6-brands:linkedin" />
            </a>
            <a href="mailto:info@pedromartins.com.pt" class="social__link" target="_blank">
                <Icon name="mdi:email-outline" />
            </a>
        </div>
    </div>
    <ScrollDown client:only />
</section>

<style>
    .section--hero {
        display: flex;
    }

    .wrapper--hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        text-align: center;
    }

    .greetings {
        color: var(--font-color-light);
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        width: 100%;
    }

    .greet {
        margin-block-end: 1.5rem;
    }

    .tag {
        color: var(--accent-color);
    }

    .translucent {
        color: var(--neutral-dark-color);
    }

    .greetings--pt,
    .description--pt {
        color: rgba(149, 163, 179, 0.75);
        font-size: 1.4rem;
        font-weight: 700;
        font-style: italic;
        width: 100%;
    }

    .description {
        font-size: 1.6rem;
        font-weight: 500;
        max-width: 1024px;
        margin-bottom: 6rem;
    }

    .description--pt {
        margin-bottom: 12rem;
    }

    .hero-highlight {
        color: var(--accent-color);
    }

    .btn--learnMore {
        color: var(--accent-color);
        border-color: var(--accent-color);
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: .75rem 1.5rem;
    }

    .section--hero .btn--cta {
        margin: 5rem auto 0 auto;
    }

    .btn--learnMore:hover,
    .btn--learnMore:active {
        color: #1d1b24;
        background-color: var(--accent-color);;
        border-color: var(--accent-color);;
        text-decoration: none;
    }

    .hero__social {
        display: flex;
        gap: 1.5rem;
    }

    .social__link {
        color: var(--font-color);
        transition: var(--default-transition);

        &:hover {
            color: var(--accent-color);
        }
    }

    @media all and (min-width: 480px) {

        .greetings {
            font-size: 3.2rem;
        }
    }

    @media only screen and (min-width: 640px) {
        .greetings {
            font-size: 4rem;
        }
    }

    @media only screen and (min-width: 992px) {
        .greetings {
            font-size: 4rem;
            text-align: left;
            width: 75%;
        }

        .section--hero .btn--cta {
            margin: 5rem auto 0 0;
        }

        .greetings--pt {
            font-size: 2.4rem;
        }

        .social__link {
            font-size: 3.2rem;
            margin-right: 2.5rem;
        }
    }

</style>