---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.less';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="I'm am a front-end web developer based in Cambridge, UK and I craft amazing experiences for the web." />
		<title>Pedro Martins - Frontend Developer</title>
	</head>
	<body>
        <Header />
		<main class="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
